<!-- inherits base.html -->
{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index/style.css') }}">
{% endblock %}
{% block title %}ProPeople - Home{% endblock %}
{% block content %}
    <main>  
        <!-- <header>
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </header> -->
        <div class="center-container">
            <h1 class="logo_name">Pro<span>People</span></h1>
            <div class="form_container">
                <label class="form-label" for="email">Email</label>
                <input type="text" class="email" placeholder="" required>
            </div>
            <div class="form_container">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="password" placeholder="" required>
            </div>
            <button class="login-btn">Login</button>
        </div>
    </main>  
{% endblock %}