{% extends "base.html" %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard/style.css') }}">
{% endblock %}
{% block title %}ProPeople - User Dashboard{% endblock %}
{% block content %}
    <main>  
        <h1 class="dash_heading">Pro - <span>People</span> Dashboard</h1>
        <div class="dashboard-container">
            <div class="profile-section">
                <h2 class="welcome-note">Welcome Back</h2>
                <div class="user-details">
                    <h3 class="details-title">My Details</h3>
                    <hr class="profile-line">
                    <div class="info-tab">
                        <p class="user-info"><span class="label">Name</span>:  {{ user.first_name }} {{ user.last_name }}</p>
                        <p class="user-info"><span class="label">Position</span>: {{ user.position }}</p>
                        <p class="user-info"><span class="label">Department</span>: {{ user.department_name }}</p> 
                        <p class="user-info"><span class="label">Email</span>: {{ user.email }}</p> 
                        <p class="user-info"><span class="label">Phone</span>:  {{ user.contact }}</p> 
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn_update_details">Update Details</button>
                    <button class="btn btn_request_leave">Request Leave</button>
                </div>

            </div>

            <div class="activity-section">
                {%if leave_requests%}
                    <table>
                        <thead>
                            <tr>
                                <th class="table-header">Start_Date</th>
                                <th class="table-header">End_Date</th>
                                <th class="table-header">Days Applied</th>
                                <th class="table-header">Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            {%for leave in leave_requests%}
                            <tr>
                                <td class="table-contents">{{ leave.start_date }}</td>
                                <td class="table-contents">{{ leave.end_date }}</td>
                                <td class="table-contents">{{ leave.days_applied }}</td>
                                <td class="table-contents">{{ leave.status }}</td>
                                <td>
                                    <form method="post" action="/delete_leave/{{ leave.request_id }}">
                                        <button class="btn btn_delete" type="submit">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                {%else%}
                    <p>No leave applications found.</p>
                {%endif%}   
            </div>  

            <div class="log-out">
                <a href="{{url_for('logout')}}">Log Out</a>
            </div>

            <div class="leave-request-section">
                <h2 class="leave-heading">Leave Requests</h2>
                <form action="/submit_leave" method="post" class="leave-request-form">
                    <div class="form-row">
                    <label class="form-label" for="start_date">Start Date:</label>
                    <input  class="form-input" type="date" id="start_date" name="start_date" placeholder="YYYY-MM-DD" required>
                    </div>
                    <div class="form-row">
                    <label class="form-label" for="end_date">End Date:</label>
                    <input class="form-input" type="date" id="end_date" name="end_date" placeholder="YYYY-MM-DD" required>
                    </div>
                    <div class="form-row">
                        <label class="form-label" for="leave_type">Leave Type:</label>
                        <select class="form-input" id="leave_type" name="leave_type" required>
                            <option value="" disabled selected>Select Leave Type</option>
                            <option value="annual">Annual Leave</option>
                            <option value="sick">Sick Leave</option>
                            <option value="maternity">Maternity Leave</option>
                        </select>
                    </div>
                    <div class="control-btns">
                        <button type="submit" class="btn apply-btn">Apply for Leave</button>
                        <button type="submit" class="btn cancel-btn" formnovalidate>Cancel</button>
                    </div>
                </form>
            </div>

            <div class="User-details-Update-section">
                <h2 class="leave-heading">User Details Update</h2>
                <form action="/update_user_details" method="post" class="update-user-form">
                    <div class="form-row">
                    <label class="form-label" for="password">New Password:</label>
                    <input class="form-input" type="text" id="password" name="password"  placeholder="Enter a new password (leave blank to keep current)">
                    </div>
                    <div class="form-row">
                    <label class="form-label" for="email">Email:</label>
                    <input class="form-input" type="email" id="email" name="email"  value="{{ user.email }}">
                    </div>
                    <div class="form-row">
                    <label class="form-label" for="contact">Phone:</label>
                    <input class="form-input" type="text" id="contact" name="contact"  value="{{ user.contact }}">
                    </div>

                        <button type="submit" class="btn update-btn">Update</button>
                        <button type="submit" class="btn cancel-btn" formnovalidate>Cancel</button>
                </form>
            </div>
        </div>
    </main>  
    <script src="{{ url_for('static', filename='js/user_dashboard/user_dashboard.js') }}"></script>
{% endblock %}